@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#menu-4 .mbr-brand__name {
  font-size: 16px;
}
#menu-4.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-4 .mbr-brand__name a {
  font-size: 46px;
  font-family: 'Roboto', sans-serif;
}
#msg-box3-27 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-27 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#header2-10 P {
  color: #000000;
  font-size: 24px;
}
#msg-box1-42 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-42 .mbr-article {
  color: #fff;
}
#msg-box1-19 .mbr-header .mbr-header__text {
  color: #000000;
  font-size: 14px;
}
#msg-box1-19 .mbr-article {
  color: #000000;
}
#msg-box1-19 .mbr-header .mbr-header__text SPAN {
  font-size: 18px;
}
#content1-47 P {
  color: #ffffff;
}
#msg-box1-20 .mbr-header .mbr-header__text {
  color: #000000;
}
#msg-box1-20 .mbr-article {
  color: #000000;
}
#content1-48 P {
  color: #ffffff;
}
#msg-box1-22 .mbr-header .mbr-header__text {
  color: #000000;
}
#msg-box1-22 .mbr-article {
  color: #000000;
}
#content1-49 P {
  color: #ffffff;
}
#msg-box1-24 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-24 .mbr-article {
  color: #000000;
}
#content1-50 DIV {
  color: #ffffff;
}
#msg-box1-27 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-27 .mbr-article {
  color: #000000;
}
#msg-box1-28 .mbr-header .mbr-header__text {
  color: #000000;
}
#msg-box1-28 .mbr-article {
  color: #000000;
}
#content1-51 P {
  color: #ffffff;
}
#msg-box1-29 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-29 .mbr-article {
  color: #000000;
}
#content1-52 DIV {
  color: #ffffff;
}
#msg-box1-30 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-30 .mbr-article {
  color: #000000;
}
#msg-box1-41 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-41 .mbr-article {
  color: #000000;
}
#msg-box1-42 .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-42 .mbr-article {
  color: #000000;
}
#footer1-53 P {
  color: #000000;
}
#ext_menu-11 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-11 .mbr-brand__name a {
  font-size: 46px;
}
#ext_menu-11 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-11 .mbr-brand__name a {
  font-size: 46px;
}
#msg-box4-17 .mbr-header__text {
  color: #000000;
  font-size: 36px;
  text-align: right;
}
#msg-box4-17 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-17 .mbr-article {
  color: #ffffff;
}
#msg-box4-17 .mbr-article P {
  color: #000000;
  text-align: right;
}
#msg-box4-17 .mbr-article UL {
  color: #000000;
  text-align: right;
}
#social-buttons2-15 .mbr-header__text {
  color: #ffffff;
}
#contacts1-54 P {
  color: #000000;
}
